<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <p>Upload image</p>
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="input_image" accept="image/*" >
        <input type="submit" name="submit_btn" >
    </form> 
    {% if img_name %}
        <img src="../static/{{ img_name }}" alt="upload img">
    {% else %}
    {% endif %}
    <h1>{{ d }}</h1>
    <ul>
        {% for path in images %}
            <li>
                <img src="{{ path }}" alt="result">
            </li>
        {% endfor %}
    </ul>
</body>
</html>